#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error_boundary {
  color: #de2233;
  font-weight: bold;
  border: 1px solid #de2233;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffdeef;
  width: fit-content;
  margin: 0 auto;
}

.sample_maps {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.map {
  border: 1px solid #edeaea;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  background-color: #faf8f8;
  text-align: left;
}

.map.selected {
  font-weight: 600;
  background-color: #e8e6e6;
}
